# Ficheiro de senhas e segredos
.env
crm/.env

# Ambiente virtual
venv/

# Ficheiros de cache do Python
__pycache__/
*.pyc

# Base de dados local do SQLite (se usar para testes)
db.sqlite3

# Ficheiros de configuração do VSCode
.vscode/